aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.7.0
anthropic==0.28.0
anyio==3.7.1
appnope==0.1.3
argilla==1.6.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.4
av==12.2.0
aws-lambda-builders==1.37.0
aws-sam-cli==1.97.0
aws-sam-translator==1.73.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bertopic==0.15.0
binaryornot==0.4.4
bleach==6.0.0
blinker==1.6.2
boto3==1.34.119
boto3-stubs==1.28.38
botocore==1.34.119
botocore-stubs==1.31.52
build==0.10.0
CacheControl==0.14.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
cfn-lint==0.79.11
chardet==5.2.0
charset-normalizer==3.1.0
chevron==0.14.0
chroma-hnswlib==0.7.2
chromadb==0.3.29
chromadb-client==0.4.13.dev0
ci-info==0.3.0
cleo==2.0.1
click==8.1.3
clickhouse-connect==0.5.20
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudevents==1.10.0
cohere==5.5.4
coloredlogs==15.0.1
comm==0.1.3
commonmark==0.9.1
configobj==5.0.8
configparser==6.0.0
contourpy==1.1.0
cookiecutter==2.1.1
crashtest==0.4.1
cryptography==40.0.2
cycler==0.11.0
Cython==0.29.36
dataclasses-json==0.5.7
dateparser==1.1.8
DateTime==5.4
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
distlib==0.3.6
distro==1.9.0
docker==6.1.3
duckdb==0.7.1
dulwich==0.21.5
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.0
executing==1.2.0
ezdxf==1.1.4
fastapi==0.85.1
fastavro==1.9.4
fastjsonschema==2.16.3
feedparser==6.0.10
filelock==3.12.0
firebase-admin==6.1.0
fitz==0.0.1.dev2
Flask==2.2.3
flatbuffers==23.5.26
fonttools==4.41.0
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.3.3
fsspec==2024.2.0
ftfy==6.2.0
functions-framework==3.4.0
future==0.18.3
gcsfs==2024.2.0
gitdb==4.0.10
GitPython==3.1.32
google==3.0.0
google-ai-generativelanguage==0.6.4
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-secret-manager==2.18.1
google-cloud-storage==2.8.0
google-cloud-vision==3.7.0
google-crc32c==1.5.0
google-generativeai==0.6.0
google-resumable-media==2.5.0
google-search-results==2.4.2
googleapis-common-protos==1.59.0
gpytorch==1.11
greenlet==2.0.2
grpc-google-iam-v1==0.13.0
grpcio==1.54.0
grpcio-status==1.54.0
grpcio-tools==1.54.0
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hdbscan==0.8.33
hnswlib==0.7.0
hpack==4.0.0
htbuilder==0.6.2
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.5.0
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.2
humanfriendly==10.0
hyperframe==6.0.1
idna==3.4
imageio==2.31.1
importlib-resources==6.1.0
importlib_metadata==8.0.0
iniconfig==2.0.0
install==1.3.5
installer==0.7.0
ipykernel==6.22.0
ipympl==0.9.3
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaxtyping==0.2.20
jedi==0.18.2
Jinja2==3.1.2
jinja2-time==0.2.0
jiter==0.4.1
jmespath==1.0.1
joblib==1.2.0
jschema-to-python==1.2.3
json5==0.9.14
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
junit-xml==1.9
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.3.0
jupyter_server==2.14.1
jupyter_server_terminals==0.4.4
jupyterlab==4.2.3
jupyterlab-miami-nights==0.3.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.27.2
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.0.336
langsmith==0.0.92
linear-operator==0.5.0
litellm==1.41.3
llvmlite==0.40.1
lockfile==0.12.2
looseversion==1.3.0
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
martian==2.0.post1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistralai==0.3.0
mistune==2.0.5
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.5
multidict==6.0.4
mypy-boto3-apigateway==1.28.36
mypy-boto3-cloudformation==1.28.48
mypy-boto3-ecr==1.28.45
mypy-boto3-iam==1.28.37
mypy-boto3-lambda==1.28.36
mypy-boto3-s3==1.28.52
mypy-boto3-schemas==1.28.36
mypy-boto3-secretsmanager==1.28.36
mypy-boto3-signer==1.28.36
mypy-boto3-stepfunctions==1.28.36
mypy-boto3-sts==1.28.37
mypy-boto3-xray==1.28.47
mypy-extensions==1.0.0
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
nibabel==5.1.0
nimfa==1.4.0
nipype==1.8.6
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.2
numba==0.57.1
numexpr==2.8.4
numpy==2.0.0
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.16.0
openai==1.33.0
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
orjson==3.10.3
overrides==7.4.0
packaging==23.1
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pbr==5.11.1
pdfminer==20191125
pdfminer.six==20221105
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==8.13.0
pillow==10.4.0
pkginfo==1.9.6
platformdirs==2.6.2
plotly==5.16.0
pluggy==1.5.0
poetry==1.4.2
poetry-core==1.5.2
poetry-plugin-export==1.3.1
posthog==3.0.1
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proto-plus==1.23.0
protobuf==4.22.3
prov==2.0.0
psutil==5.9.5
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.7.3
pydantic_core==2.18.4
pydeck==0.8.0
pydot==1.4.2
Pygments==2.15.1
PyJWT==2.6.0
Pympler==1.0.1
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pynndescent==0.5.10
pyOpenSSL==23.2.0
pypandoc==1.11
pyparsing==3.0.9
pypdf==3.8.1
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pytest==8.2.2
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-dotenv==1.0.0
python-json-logger==2.0.7
python-magic==0.4.27
python-pptx==0.6.21
python-slugify==8.0.1
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
pyxnat==1.5
PyYAML==6.0.1
pyzmq==25.0.2
qdrant-client==1.1.6
qtconsole==5.4.2
QtPy==2.3.1
rank-bm25==0.2.2
rapidfuzz==2.15.1
rdflib==6.3.2
redis==4.5.4
referencing==0.35.1
regex==2023.3.23
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.0.1
rpds-py==0.18.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
s3transfer==0.10.1
sarif-om==1.0.4
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.1.98
sgmllib3k==1.0.0
shellingham==1.5.0.post1
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.47
st-annotated-text==4.0.1
stack-data==0.6.2
starlette==0.20.4
streamlit==1.28.2
streamlit-pdf-viewer==0.0.10
sympy==1.11.1
tenacity==8.2.2
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.1.0
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.0
torch==2.2.2
torchvision==0.17.2
tornado==6.3.1
tqdm==4.65.0
traitlets==5.9.0
traits==6.3.2
transformers==4.28.1
trove-classifiers==2023.5.2
typeguard==2.13.3
typer==0.9.0
types-awscrt==0.19.1
types-requests==2.32.0.20240602
types-s3transfer==0.6.2
typing-inspect==0.8.0
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==5.0.1
umap-learn==0.5.3
unstructured==0.6.1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.21.1
uvloop==0.17.0
validators==0.20.0
virtualenv==20.21.1
voila==0.4.1
-e git+https://github.com/OptimaLLM/Vector-Video-Search.git@ad1fe6b513e0eaa7013205f03f81cd148d178c01#egg=vvs
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.2
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wikipedia==1.4.0
wrapt==1.14.1
WTForms==3.0.1
xattr==0.10.1
xlrd==2.0.1
XlsxWriter==3.1.0
yarl==1.9.1
zipp==3.15.0
zope.interface==6.2
zstandard==0.21.0
